body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-bg {
  background: #09265a;
  background-image: url(../img/drs.jpg);
  color: #fff;
}

.first-Section {
  padding: 18px 0 24px;
}
.carousel {
  position: relative;
}

.carousel-item {
  height: 100vh;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 25, 109, 0.8);
}

.nav-link {
  display: block;
  padding: 0.9rem 1rem;
}

/* .logo-fix {
  background-image: url(../img/001-google.png);
  background-repeat: no-repeat;
} */

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
}
.site-blocks-cover.overlay {
  position: relative;
}
.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.site-blocks-cover .player {
  position: absolute;
  bottom: -250px;
  width: 100%;
}
.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}
.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover > .container > .row {
  min-height: 500px;
  height: calc(30vh);
}
.site-blocks-cover h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 991.98px) {
  .site-blocks-cover h1 {
    font-size: 2rem;
  }
}
.site-blocks-cover p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}
.site-blocks-cover p a:hover {
  color: #fff;
  text-decoration: underline;
}
.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .display-1 {
    font-size: 3rem;
  }
}

.site-block-subscribe .btn {
  padding-left: 20px;
  padding-right: 20px;
}

.site-block-subscribe .form-control {
  font-weight: 300;
  border-color: #fff !important;
  height: 80px;
  font-size: 22px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
.site-block-subscribe .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-style: italic;
}
.site-block-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-style: italic;
}
.site-block-subscribe .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-style: italic;
}
.site-block-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-style: italic;
}

/* form first */
.form-search-wrap {
  background: rgb(219, 219, 219);
  border-radius: 20px;
  border: 2px solid white;
  border-spacing: 50px;
  padding: 30px !important;
  -webkit-box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2);
}
.form-search-wrap .form-control {
  border: none;
}
@media (max-width: 1199.98px) {
  .form-search-wrap .form-control {
    height: 55px;
  }
}
.form-search-wrap .btn {
  border-radius: 30px;
  padding: 10px 30px;
}
@media (max-width: 1199.98px) {
  .form-search-wrap .btn {
    width: 100% !important;
    display: block;
  }
}

/* form new */

.filter-search {
  padding: 25px 38px 38px;
  position: relative;
  z-index: 1;
}

.filter-search:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  opacity: 0.43;
  z-index: -1;
  border-radius: 15px;
}

.filter-search .category-search {
  display: inline-block;
  width: calc(41% - 20px);
}

.filter-search .category-search h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 12px;
}

.filter-search .category-search .nice-select {
  width: calc(100% - 20px);
  font-size: 16px;
  color: #fff;
  background: transparent;
  height: 50px;
  line-height: 46px;
  border-radius: 0;
  padding-left: 31px;
}

.filter-search .category-search .nice-select:after {
  display: none;
}

.filter-search .category-search .nice-select .option {
  padding-left: 30px;
  padding-right: 29px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-search .category-search .nice-select .list {
  background-color: #1d1d1d;
  border-radius: 0;
  margin-top: 1px;
  width: 100%;
}

.filter-search .location-search {
  display: inline-block;
  width: calc(41% - 20px);
}

.filter-search .location-search h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 12px;
}

.filter-search .location-search .nice-select {
  width: calc(100% - 20px);
  font-size: 16px;
  color: #fff;
  background: transparent;
  height: 50px;
  line-height: 46px;
  border-radius: 0;
  padding-left: 31px;
}

.filter-search .location-search .nice-select:after {
  display: none;
}

.filter-search .location-search .nice-select .option {
  padding-left: 30px;
  padding-right: 29px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-search .location-search .nice-select .list {
  background-color: #1d1d1d;
  border-radius: 0;
  margin-top: 1px;
  width: 100%;
}

.filter-search button {
  color: #fff;
  background: #ff5581;
  font-size: 16px;
  position: absolute;
  right: 38px;
  top: 57px;
  padding: 13px 65px;
  cursor: pointer;
  border: 1px solid #ff5581;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #fff;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #ff5581;
  color: #fff;
}

.arrange-select {
  text-align: right;
  margin-bottom: 45px;
  overflow: hidden;
}

.arrange-select span {
  display: inline-block;
  color: #787878;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-right: 14px;
  line-height: 32px;
}

.arrange-select .nice-select {
  float: right;
  border-radius: 0;
  border: solid 1px #cccccc;
  height: 32px;
  line-height: 28px;
  width: 130px;
}

.arrange-select .nice-select .current {
  display: none;
}

.arrange-select .nice-select.open .list {
  width: 100%;
  margin-top: 1px;
  border-radius: 0;
}

.arrange-select .nice-select:after {
  border-bottom: 2px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
  height: 8px;
  width: 8px;
  top: 42%;
}

.arrange-items {
  display: block;
  margin-bottom: 30px;
}

.arrange-items .arrange-pic {
  position: relative;
}

.arrange-items .arrange-pic img {
  min-width: 100%;
}

.arrange-items .arrange-pic .rating {
  position: absolute;
  left: 11px;
  top: 14px;
  height: 55px;
  width: 55px;
  background: #ff5581;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2px;
}

.arrange-items .arrange-pic .tic-text {
  color: #fff;
  background: #ffc600;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
}

.arrange-items .arrange-text {
  background: #f7f8fb;
  padding-left: 16px;
  padding-top: 35px;
  padding-bottom: 32px;
  padding-right: 15px;
}

.arrange-items .arrange-text h5 {
  color: #242424;
  font-size: 20px;
  font-weight: 700;
}

.arrange-items .arrange-text span {
  color: #ff5581;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 6px;
}

.arrange-items .arrange-text p {
  color: #787878;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 22px;
}

.arrange-items .arrange-text .open {
  display: inline-block;
  padding: 7px 20px;
  background: #be2f55;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.2px;
}

.arrange-items .arrange-text .open.tomorrow {
  background: #cacdd6;
}

.arrange-items .arrange-text .open.closed {
  background: #ff5581;
}

.pagination-num {
  margin-top: 15px;
}

.pagination-num a {
  display: inline-block;
  color: #242424;
  font-size: 14px;
  font-weight: 700;
  background: #f1f2f6;
  padding: 5px 6px;
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination-num a:hover {
  color: #fff;
  background: #ff5581;
}

/* .filter-search .category-search {
  width: 100%;
  margin-bottom: 30px;
} */
/* .filter-search .category-search .nice-select {
  width: 100%;
} */
.filter-search .location-search {
  width: 100%;
  margin-bottom: 30px;
}
.filter-search .location-search .nice-select {
  width: 100%;
}
.filter-search button {
  position: relative;
  right: 0;
  top: 0;
  padding: 13px 45px;
}
/* form end */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.align-items-center {
  -webkit-box-align: center !important;

  align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;

  justify-content: center !important;
}

.bg-white {
  background-color: rgb(204, 204, 204) !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.fa-google,
.fa-facebook {
  padding-right: 8px;
}
.fa-user-circle {
  font-size: 30px;
}
.fa-user-circle,
a {
  color: #0064cf;
}

.form-control {
  display: block;
  width: 9%;
  height: calc(1.5em + 0.75rem + 1px);
  padding: 0.375rem 0.75rem 0.375rem 2.15rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.site-block-subscribe .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-style: italic;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.label-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* color: #868e96; */
}

.input-label-absolute {
  position: relative;
}
.input-label-absolute-left .label-absolute {
  left: 0.7rem;
  opacity: 0.5;
}

.input-expand {
  position: relative;
  z-index: 50;
}

.btn-reset {
  /* display: none; */
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #868e96;
  background: none;
}

.nav-item {
  margin: 0 7px;
}

.typed-words {
  color: #007bff;
}

/* section 1 */
.hero-home {
  background: url();
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
}

.border-primary h2 {
  font-weight: 700 !important;
}

.border-primary:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #007bff;
}

.border-primary.text-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* catergories */
.align-items-stretch {
  -webkit-box-align: stretch !important;

  align-items: stretch !important;
}

.popular-category {
  background: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 30px 10px;
  border-radius: 7px;
  background: #e6e6e6;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.popular-category .icon > span {
  line-height: 0;
  font-size: 40px;
}

.popular-category .icon {
  display: block;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.popular-category .caption {
  color: #666666;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}
.caption {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.popular-category .number {
  padding: 2px 20px;
  border-radius: 30px;
  display: inline-block;
  background: #f3f3f3;
  color: #000;
  font-size: 14px;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.h-100 {
  height: 100% !important;
}

.popular-category:hover {
  background: #007bff;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 30px -5px rgba(10, 0, 145, 0.5);
  box-shadow: 0 5px 30px -5px rgba(10, 0, 145, 0.5);
}
.popular-category:hover .caption {
  color: #fff;
}
.popular-category:hover .icon {
  color: #fff;
}
.popular-category:hover .number {
  background: #003a77;
  color: #fff;
}
.popular-category:hover {
  top: -5px;
  -webkit-box-shadow: 0 10px 30px -5px rgba(10, 0, 145, 0.5);
  box-shadow: 0 10px 30px -5px rgba(10, 0, 145, 0.5);
}

/* how it works  */
.how-it-work-step {
  text-align: center;
}

.how-it-work-step .number {
  color: #00918e;
  letter-spacing: 0.2rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #eee;
  margin-bottom: 15px;
}

.how-it-work-step .img-wrap {
  height: 270px;
}

.how-it-work-step h3 {
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 1.5rem;
}
.how-it-work-step p {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.how-it-work-step img {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

/* whyus */
.why-us {
  background: linear-gradient(90deg, #313131, #3b3b3b);
}

.why-us-image img {
  padding-top: 100px;
}

.rounded {
  border-radius: 0.35rem !important;
}
.border {
  border: 1px solid #0011ff !important;
}
.accordion-item {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
.text-primary h2 {
  color: #ffffff !important;
}
.why-us-colou {
  color: white;
}
/* slide */

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-area {
  background: #ebe9e9;
  margin-top: -350px;
}
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.download-area .download-text {
  padding: 0 10% 0 32%;
  margin-top: 50px;
}

.download-btn {
  padding: 16px 24px 6px;
  max-width: 225px;
  margin-right: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

download-btn i {
  font-size: 44px;
  padding-right: 20px;
  color: #ff9902;
  margin-top: -8px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(189, 189, 189);
  text-decoration: none;
  background-color: transparent;
}

.iconss a {
  color: rgb(0, 60, 255);
  text-decoration: none;
  background-color: transparent;
}

.input-group-append {
  margin-left: -1px;
  margin-top: -3px;
}

.ios-adjust {
  padding-left: 10px;
  padding-top: 5px;
}

.d-flex {
  display: flex !important;
}

.footer-area {
  color: #fff;
  background: #04091e;
}

.site-footer {
  padding: 4em 0 0 0;
  color: #fff;
  background: #04091e;
}

.col-lg-3 {
  padding: 0 25px;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-padding {
  padding: 100px 0;
}

.testing {
  background: black;
  bottom: 0;
  top: 0;
}

.testimo {
  background-color: rgb(202, 202, 202);
  padding-top: 55px;
  overflow: hidden;
}

.hide {
  display: none;
}

.button:disabled {
  opacity: 0.65;
}

.fa-handshake {
  font-size: 50px;
}

.display-3 {
  font-size: 30px;
}
.navbar-light .navbar-toggler {
  /* color: rgba(0,0,0,.5); */
  border-color: rgba(0, 0, 0, 0.5);
}

/* [data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translate(0);
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos="fade-up"] {
  transform: translateY(100px);
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
} */
/* blog */

@media (max-width: 1304px) {
  .d-xl-inline-block {
    display: none !important;
  }
}

/* @media (min-width: 1085px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
} */

@media (min-width: 1085px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;

    flex-basis: auto;
  }
}

/* @media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;

    flex-basis: auto;
  }
} */

@media (min-width: 1085px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 1140px) {
  .nav-item {
    margin: 0 3px;
    font-size: 15px;
  }
  .download-img img {
    height: 280px;
  }
  .download-area .download-text {
    padding: 0 10% 0 12%;
    margin-top: 50px;
  }
  .img-logo {
    vertical-align: middle;
    border-style: none;
    height: 38px;
  }
  .d-sm-flex2 {
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .download-img img {
    height: 320px;
    padding-left: 250px;
    align-content: center;
    align-self: center;
    justify-content: center !important;
  }
  .download-area .download-text {
    padding: 0 10% 0 12%;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .section-padding {
    padding: 50px 0;
  }
  .download-button {
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .justify-content-start {
    justify-content: center !important;
  }
  .download-img {
    justify-content: center;
  }
  .d-sm-flex2 {
    display: flex !important;
  }
  .navbar-toggler {
    margin: 0 0px 0 600px;
  }
  .nav-link {
    display: block;
    padding: 0rem 1rem;
    font-size: 17px;
  }
  .why-talk {
    margin-top: 30px;
  }
  h5 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: rgba(0, 25, 109, 0.8);
  }
}

@media (max-width: 935px) {
  .navbar-toggler {
    margin: 0 0px 0 450px;
  }
}

@media (min-width: 991px) {
  .mt-3,
  .my-3 {
    margin-top: 0rem !important;
  }
  .mt-3,
  .my-3 {
    margin-top: 0rem !important;
  }
  .follow-us {
    display: none;
  }
}

@media (max-width: 815px) {
  .download-img img {
    height: 250px;
    padding-left: 180px;
    align-content: center;
    align-self: center;
    padding-top: 20px;
    justify-content: center !important;
  }
  .d-sm-flex2 {
    display: flex !important;
  }
  .img-fluid {
    max-width: 70%;
    height: auto;
    align-items: center;
  }
  .bg-white2 {
    background-color: #fff !important;
    max-width: 70%;
  }
  .navbar-toggler {
    margin: 0 0px 0 300px;
  }
}

@media (max-width: 768px) {
  .site-section {
    padding: 7em 0;
  }
  .why-us-image img {
    padding-top: 10px;
  }
  .carousel-control-next {
    margin-right: 25px;
  }
}

@media (max-width: 799.98px) {
  .fa-user-circle {
    margin: 0 0px 0 0px;
  }
  .navbar-toggler {
    margin: 0 0px 0 330px;
  }
}

@media (min-width: 768px) {
  .site-section {
    padding: 7em 0;
  }
}

@media (max-width: 710px) {
  .navbar-toggler {
    margin: 0 0px 0 250px;
  }
}

@media (max-width: 620px) {
  .navbar-toggler {
    margin: 0 0px 0 200px;
  }
}

@media (max-width: 590px) {
  .d-sm-flex2 {
    display: flex !important;
  }
  .download-img img {
    height: 220px;
    padding-left: 130px;
    padding-top: 20px;
    align-content: center;
    align-self: center;
    justify-content: center !important;
  }
  .how-it-work-step img {
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
  }

  .how-it-work-step .img-wrap {
    height: 180px;
  }
  .caption {
    font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

  .android-adjust img {
    height: 50px;
  }
  .ios-adjust img {
    height: 45px;
  }
  .section-padding {
    padding: 30px 0;
  }
  .download-area .download-text {
    padding: 0 2% 0 2%;
    margin-top: 50px;
  }
  .navbar-toggler {
    margin: 0 0px 0 170px;
  }
}

@media (max-width: 500px) {
  .download-img img {
    height: 180px;
    padding-left: 120px;
    align-content: center;
    align-self: center;
    padding-top: 5px;
    justify-content: center !important;
  }
  .fa-handshake {
    font-size: 40px;
  }

  .display-3 {
    font-size: 23px;
  }
  .lead {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .fa-user-circle {
    margin: 0 0px 0 0px;
  }
  .navbar-toggler {
    margin: 0 0px 0 100px;
  }
}

@media (max-width: 435px) {
  .download-img img {
    height: 180px;
    padding-left: 40px;
    align-content: center;
    align-self: center;
    padding-top: 5px;
    justify-content: center !important;
  }
  .fa-user-circle {
    margin: 0 0px 0 0px;
  }
  .carousel-indicators {
    margin-top: 180px;
  }
  .download-area {
    background: #ebe9e9;
    margin-top: -350px;
  }
  .navbar-toggler {
    margin: 0 0px 0 60px;
  }
}

@media (max-width: 390px) {
  .navbar-toggler {
    margin: 0 0px 0 14px;
  }
  .img-logo {
    vertical-align: middle;
    border-style: none;
    height: 20px;
  }
}

@media (max-width: 330px) {
  .download-img img {
    height: 180px;
    padding-left: 10px;
    align-content: center;
    align-self: center;
    padding-top: 5px;
    justify-content: center !important;
  }
  .android-adjust img {
    height: 40px;
  }
  .ios-adjust img {
    height: 40px;
  }
  .ios-adjust {
    padding-left: 10px;
    padding-top: 5px;
  }
  .navbar-toggler {
    margin: 0 0px 0 0px;
  }
}

@media (max-width: 576px) {
  .d-sm-flex2 {
    display: flex !important;
  }
}

@media (max-width: 1044px) {
  .nav-item {
    margin: 0 3px;
    font-size: 13px;
  }
  .img-logo {
    vertical-align: middle;
    border-style: none;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .nav-item {
    margin: 0 3px;
    font-size: 20px;
  }
  .img-logo {
    vertical-align: middle;
    border-style: none;
    height: 35px;
  }
  .nav-item {
    padding-bottom: 12px;
  }
}

@media (min-width: 300px) {
  .form-inline label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }
}

@media (min-width: 250px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

@media (max-width: 575px) {
  .btn-reset {
    display: none;
  }
}
